.container {
    border: 5px inset #9db9f0;
    width: fit-content;
}

.search{
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.table{
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.button{
    text-align: center;
    padding: 20px;
}

table {
    border-spacing: 0px;
    border: 1px solid black;
}

td {
    min-width: 60px;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}